.payment{
  display: flex;
  align-items: center;

  &__item{
    max-width: 84px;
    max-height: 32px;
  }

  &__item + &__item{
    margin-left: 25px;
  }

  &__link{
    transition: all .5s;
    opacity: .85;

    &:hover{
      opacity: 1;
    }
  }
}
