@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2'),
       url('../fonts/Roboto-Light.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2'),
       url('../fonts/Roboto-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2'),
       url('../fonts/Roboto-Medium.woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2'),
       url('../fonts/Roboto-Bold.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('../fonts/IBMPlexSans-Bold.woff2'),
       url('../fonts/IBMPlexSans-Bold.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Bold.woff2'),
       url('../fonts/RobotoCondensed-Bold.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
