.benefits{
  margin-bottom: 80px;

  &__inner{
    padding: 32px 0;
    border-bottom: 1px solid rgba(136, 141, 146, .3);
    border-top: 1px solid rgba(136, 141, 146, .3);
  }

  &__items{
    display: flex;
    justify-content: space-between;

    max-width: 870px;
    margin: 0 auto;
  }

  &__item{
    width: 160px;
    text-align: center;
  }

  &__item-icon{
    margin: 0 auto 16px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 2px 8px rgba(84, 143, 199, 0.2);
  }

  &__item-img{
    max-width: 44px;
    max-height: 32px;
  }

  &__item-icon:hover{
    box-shadow: 0px 2px 8px rgba(84, 143, 199, 0.6);
  }

  &__item-text{
    font-size: 14px;
    line-height: 140%;
    color: #202454;
  }

}

@media(max-width: 720px){

  .benefits{
    margin: 30px 0;

    .benefits__items{
      flex-wrap: wrap;
    }

    .benefits__item{
      width: 50%;
      margin-bottom: 24px;
    }

    .benefits__item-text{
      max-width: 160px;
      margin: 0 auto;
    }

  }
}

@media(max-width: 460px){

  .benefits__item-text{
    font-size: 12px;
    padding: 0 10px;
  }

  .benefits__item-icon{
    width: 66px;
    height: 66px;

  }

  .benefits__item-img{
    width: 33px;
    height: 21px;
  }
}