.btn-showMore{
  display: flex;
  align-items: center;
  width: 208px;
  margin: 0 auto;
  cursor: pointer;

  &__svg{
    margin-right: 24px;
    width: 48px;
    height: 58px;
    fill: $orange;
    transition: all .4s;
  }

  &__text{
    max-width: 136px;
    font-size: 20px;
    line-height: 23px;
    color: #202454;
    text-align: left;
    transition: all .4s;
  }

  &:hover{
    .btn-showMore__text{
      color: $grey;
    }

    .btn-showMore__svg{
      fill: $grey;
    }
  }
}