.btn{
  font-family: 'Roboto Condensed';
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 15px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  background-color: #E77E42;
  border-radius: 3px;
  color: #FFFFFF;
  transition: all .5s;
  text-align: center;

  &:hover{
    color: #E77E42;
    background-color: #fff;
  }

  &__img{
    margin-left: 10px;
    transition: all .5s;
  }

  &--popup{
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

@media(max-width: 500px){
  .btn{
    &--popup{
      margin: 10px 0;
    }
  }
}