.consultation{
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: #7B94B0;

  &__text{
    margin-right: 8px;
  }

  &__img{
    margin-left: 3px;
    width: 10px;
    height: 6px;
    margin-bottom: 1px;
    stroke: #7B94B0;
  }

  &__phone{
    display: flex;
    align-items: center;
    font-weight: 700;
    transition: all .3s;
    opacity: .8;
    color: #7B94B0;

    &:hover{
      opacity: 1;
    }
  }
}