.goods{
  display: flex;

  &__sidebar{
    width: 250px;
    height: 1750px;
    margin-right: 40px;

    &--avatar{
      width: 250px;
      margin-bottom: 40px;
    }
  }
  
  &__content{
    position: relative;
  }

  &__title{
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    span{
      padding-top: 12px;
      font-size: 18px;
      line-height: 140%;
      color: #7B94B0;
      margin-left: 16px;
      font-weight: 400;
    }
  }

  &__filters{
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &--hidden{
      display: none;
    }
  }

  &__filter{
    margin-right: 8px;
  }

  &__bunner{
    width: 100%;
    margin-bottom: 24px;
  }

  &__sort{
    position: absolute;
    top: 0;
    right: 0;
  }

  &__info{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  &__info-img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &__info-text{
    font-size: 14px;
    line-height: 140%;
    color: #7B94B0;
  }

  &__btn-showMore{
    margin-bottom: 48px;
  }

  &__pagination{
    margin-bottom: 120px;
  }

}