.login-popup{
  position: relative;
  width: 460px;
  margin: 0 auto;
  background-color: white;

  &__inner{
    padding: 15px 30px;
  }

  &__label-svg-check{
    width: 12px;
    height: 10px;
    stroke: $darkBlue;
    stroke-width: 2px;
    fill: none;
  }

  &__label-svg-showPassword{
    cursor: pointer;
    width: 18px;
    height: 15px;
    fill: $darkBlue;
    transition: all .5s;
    opacity: .2;

    &:hover{
      opacity: 1;
    }
  }

  &__remaind{
    width: 100%;
    text-align: right;
    margin-top: 12px;
  }

  &__remaind-link{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: $green;
    transition: all .4s;


    &:hover{
      color: $darkBlue
    }
  }
}