.popup-with-help{
  text-align: center;
  color: $grey;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  margin-bottom: 25px;

  &::before,
  &::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: $lightGrey;
    top: 7.5px;
  }

  &::after{
    right: 3px;
  }

  &::before{
    left: 3px;
  }
}

@media(max-width: 500px){
  .popup-with-help{
    margin-bottom: 15px;
    
    &::before,
    &::after{
      width: 80px;
    }
  }
}