.popup-title{
  color: $darkBlue;
  font-size: 32px;
  line-height: 37px;
  padding: 32px 10px 24px 30px;
  border-bottom: 1px solid #E0E0E0;
}

@media(max-width: 500px){
  .popup-title{
    font-size: 24px;
    line-height: 27px;
    padding: 16px 5px 12px 15px;
  }
}