.reviews-circle{
  &__svg{
    display: block;
    width: 154px;
    height: 154px;
  }

  &__circle{
    stroke: $orange;
  }

  &__circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 2.8;
  }

  &__text{
    fill: $darkBlue;
    font-family: 'Roboto';
    font-size: 0.65em;
    text-anchor: middle;
  }

  &__circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

}