.reviews-filter{
  width: 100%;
  max-width: 460px;

  &__inner{
    display: flex;
  }

  &__reviews-circle{
    margin-bottom: 15px;
  }
  
  &__recomend{
    margin-right: 40px;
    width: 100%;
    max-width: 144px;
  }

  &__recomend-text{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #202454;
    margin-bottom: 52px;
  }

  &__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: $darkBlue;
    margin-bottom: 24px;
  }

  &__values{
    width: 100%;
    max-width: 276px;
  }

  &__item{
    width: 100%;
    max-width: 276px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    position: relative;

    span{
      margin-top: 5px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: $darkBlue;
      margin-right: 12px;
    }

    &::after{
      position: absolute;
      top: 7.5px;
      right: 39px;
      z-index: -1;
      content: '';
      width: 192px;
      height: 12px;
      background-color: #F4F5F8;
      border-radius: 3px;
    }
  }

  &__star{
    display: flex;
    align-items: center;
  }

  &__star-svg{
    margin-right: 4px;
    width: 20px;
    height: 20px;
    fill: $orange;
  }

  &__line{
    max-width: 192px;
    margin-right: 12px;
    height: 12px;
    background-color: $orange;
    border-radius: 3px;
  }

  &__procent{
    margin-top: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #202454
  }

  &__btn{
    width: 100%;
  }
}


@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}


