.sections{
  margin-top: 80px;
  margin-bottom: 62px;

  &__inner{
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media(max-width: 1450px){
  .sections__inner{
    justify-content: center;
  }
}

@media(max-width: 500px){
  .sections{
    margin-top: 40px;

    &__inner{
      justify-content: space-around;
    }
  }
}
