.share{
  width: 180px;
  display: flex;
  align-items: center;

  &__text{
    font-size: 14px;
    line-height: 16px;
    color: #7B94B0;
    margin-right: 12px;
  }

  &__icon-link{
    margin-right: 8px;
    line-height: 0;
  }

  &__icon-svg{
    fill: white;
    transition: all .4s;

    &:hover{
      fill: $darkBlue;
    }
  }
}