.slider-item{
  width: 100%;
  max-width: 260px;
  padding: 32px 0;
  margin: 0 15px;

  &__card{
    position: relative;
    padding: 30px;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    width: 100%;
    height: 260px;
    transition: all .5s;
    margin-bottom: 16px;

    &:hover{
      box-shadow: 2px 2px 16px 2px rgba(18, 33, 63, .2);
    }
  }

  &__img{
    width: 200px;
    height: 200px;
  }

  &__widget{
    position: absolute;
    margin-right: 16px;
    top: 16px;
    left:  16px;
  }

  &__widget:nth-child(2){
    top: 43px;
  }

  &__widget:nth-child(3){
    top: 70px;
  }

  &__description{
    position: relative;
    min-height: 150px;
    display: flex;
    flex-direction: column;
  }

  &__description-text{
    font-size: 14px;
    line-height: 16px;
    color: #202454;
    margin-bottom: auto;
    transition: all .5s;

    &:hover{
      opacity: .7;
    }
  }
  &__stars{
    margin-top: 5px;
    align-items: center;
    margin-bottom: 14px;
  }

  &__updatePrice{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__updateBtn{
    transition: all .8s;
  }

  &__updateBtn:hover{
    transform: rotate(-60deg);
  }

  &__updatePrice-text{
    margin-left: 5px;
    padding-bottom: 1px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #7B94B0;
  }

  &__prices-lastPrice{
    font-size: 13px;
    line-height: 140%;
    text-decoration-line: line-through;
    color: #7B94B0;
    margin-right: 4px;
  }

  &__prices-currentlyPrice{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #202454;
  }

  &__buyBtn{
    position: absolute;
    bottom: 3px;
    right: 3px;
    margin-bottom: 3px;
    transition: all .5s;
  }

  &__buyBtn:hover{
    box-shadow: 0px 2px 4px rgba(84, 143, 199, 0.7);
  }

  &__rating{
    margin-bottom: 16px;
  }
}

@media(max-width: 1200px){
  .slider-item{
    max-width: 200px;
    padding: 24px 0;

    &__card{
      height: 200px;
    }

    &__img{
      width: 100%;
      height: 100%;
    }

    &__prices-currentlyPrice{
      font-size: 14px;
    }
  }
}

@media(max-width: 770px){
  .slider-item{
    max-width: 100px;
    padding: 12px 0;

    &__card{
      height: 120px;
      padding: 10px;
      margin-bottom: 6px;
    }

    &__description-text{
      font-size: 12px;
      line-height: 14px;
      max-height: 54px;
      overflow-y: scroll;
      margin-bottom: 8px;
    }

    &__description-text::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &__rating{
      margin-bottom: 4px;
    }

    &__updatePrice{
      display: none;
    }

    &__prices-lastPrice{
      display: none;
    }

    &__buyBtn{
      display: none;
    }

    &__widget{
      top: 5px;
      left: 4px;
    }

    &__widget:nth-child(2){
      top: 23px;
    }

    &__widget:nth-child(3){
      top: 40px;
    }
  }
}