.small-cards{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 200px;

  &__inner{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-bottom: 32px;
    padding-bottom: 5px;
  }

  &__inner::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__btn-secondary{
    display: block;
    width: 100%;
    max-width: 124px;
    margin: 0 auto;
  }

  &__small-card + &__small-card{
    margin-left: 30px;
  }
}



