
.widget{
  display: inline-block;
  padding: 4px 6px;
  background-color: #8D58E3;
  border-radius: 3px;

  &__text{
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  }

  &--purpure{
    background-color: #8D58E3;
  }

  &--pink{
    background-color: #E95471;
  }

  &--green{
    background-color: #3BC5AD;
  }

  &--yellow{
    background-color: #FFAF00;
  }

  &--blue{
    background-color: #3A9EFD;
  }

}

@media(max-width: 770px){
  .widget{
    max-width: 80px;
    padding: 1px 2px;

    &__text{
      white-space: nowrap;
      overflow-x: hidden;
      font-weight: 300;
      font-size: 12px;
      line-height: 13px;
    }
  }
}